<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Blend a New Smoothie:</h3>

    <form class="form new-recipe-form">
      <div class="form-group">
        <label for="recipe-name">smoothie name:</label>
        <input class="form-input" type="text" id="recipe-name" name="recipe-name" />
      </div>
      <div class="form-group">
        <label for="recipe-funding">choose your ingredients:</label>
      <div class="row">
        <div class="col-sm text-center"><p id="strawberry" class="oma-5x oma-black-strawberry"></p><p>strawberry</p></div>
        <div class="col-sm text-center"><p id="banana" class="oma-5x oma-black-banana"></p><p>banana</p></div>
        <div class="col-sm text-center"><p id="blueberries" class="oma-5x oma-black-blueberries"></p><p>blueberries</p></div>
        <div class="col-sm text-center"><p id="kiwi" class="oma-5x oma-black-kiwi-fruit"></p><p>kiwi</p></div>
      </div>
      <div class="row">
        <div class="col-sm text-center"><p id="pineapple" class="oma-5x oma-black-pineapple"></p><p>pineapple</p></div>
        <div class="col-sm text-center"><p id="orange" class="oma-5x oma-black-tangerine"></p><p>orange</p></div>
        <div class="col-sm text-center"><p id="cherry" class="oma-5x oma-black-cherries"></p><p>cherry</p></div>
        <div class="col-sm text-center"><p id="red-apple" class="oma-5x oma-black-red-apple"></p><p>red apple</p></div>
      </div>
      </div>
      <div class="form-group">
        <label for="recipe-desc">description:</label>
        <textarea class="form-input" id="recipe-desc" name="recipe-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Blend</button>
      </div>
    </form>
  </div>

  {{#if recipes.length}}
  <div class="col-md-6 recipe-list">
    <h3>Current Recipes:</h3>

    {{#each recipes as |recipe|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/recipe/{{recipe.id}}">{{recipe.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{recipe.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>
